#view{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    height: 50px;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    font-size: large;
    color: black;
}
#navbar a:hover{
    color: rgba(250, 48, 48, 0.995);
    transform: translateY(-2px);
    transition:ease-in-out ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#live{
    height: 40px;
    width: 150px;
    border-bottom: 2px solid red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#view{
    height: 600px;
    width: 1100px;
    background-color: rgb(194, 193, 193);
    margin-top: 10px;
    margin-left: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 75%;
    height: 595px;
    border-radius: 5px;
    background-color: gray;
}

.line{
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 175);

}

#category{
    height: 100px;
    width: 200px;
    background-color: rgb(253, 253, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    height: 100px;width: 200px;
    background-color: rgb(253, 253, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}
#price{
    height: 100px;
    width: 100px;
    background-color: rgb(253, 253, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cut{
    height: 100px;
    width: 100px;
    background-color: rgb(253, 253, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}